test.py
BER(SNR)_NMSE(SNR)_pics/
Pictures/
model_objects_32_qam_INL_2_LSB.npy
model_objects_32_qam_INL_4_LSB.npy
model_objects_64_qam_INL_2_LSB.npy
model_objects_64_qam_INL_4_LSB.npy
model_targets_32_qam.npy
model_targets_64_qam.npy
qam_32_cnn_2_LSB_weights.pt
qam_32_cnn_4_LSB_weights.pt
qam_32_kan_2_LSB_weights.pt
qam_32_kan_4_LSB_weights.pt
qam_32_mlp_2_LSB_weights.pt
qam_32_mlp_4_LSB_weights.pt
qam_64_cnn_2_LSB_weights.pt
qam_64_cnn_4_LSB_weights.pt
qam_64_kan_2_LSB_weights.pt
qam_64_kan_4_LSB_weights.pt
qam_64_mlp_2_LSB_weights.pt
qam_64_mlp_4_LSB_weights.pt